body{
    background: #048269;
    background: -webkit-linear-gradient(0deg, rgba(4, 130, 105, 1) 25%, rgba(0, 208, 212, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(4, 130, 105, 1) 25%, rgba(0, 208, 212, 1) 100%);
    background: linear-gradient(0deg, rgba(4, 130, 105, 1) 25%, rgba(0, 208, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#048269", endColorstr="#00D0D4", GradientType=0);
    height: 100vh;
    margin: 0;
    padding: 0;
}