*{
    font-family: "Anta", sans-serif;
}

body{
    background: #053b39;
    background: -webkit-linear-gradient(12deg, rgba(5, 59, 57, 1) 0%, rgba(5, 75, 82, 1) 35%, rgba(27, 133, 115, 1) 100%);
    background: -moz-linear-gradient(12deg, rgba(5, 59, 57, 1) 0%, rgba(5, 75, 82, 1) 35%, rgba(27, 133, 115, 1) 100%);
    background: linear-gradient(12deg, rgba(5, 59, 57, 1) 0%, rgba(5, 75, 82, 1) 35%, rgba(27, 133, 115, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#053B39", endColorstr="#1B8573", GradientType=0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

.container{
    padding: 0.25% 2% 8% 2%;
    overflow: auto;
    max-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 10px;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,  rgba(0, 124, 232, 0.75), rgba(46, 200, 217, 1), rgb(47, 154, 255));
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
    box-shadow: 0 0 20px rgba(107, 142, 255, 0.5);
    transition: all 0.3s ease;
    position: relative;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #25b1ca, #6bd5ff, #5686e0);
    box-shadow: 0 0 30px rgba(107, 201, 255, 0.8),
                inset 0 0 10px rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(180deg, #77efff, #5a8eff, #6bc4ff);
    box-shadow: 0 0 40px rgb(107, 208, 255),
                inset 0 0 15px rgba(255, 255, 255, 0.5);
}
