main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    flex-direction: row;
}

main.placement-p2 {
    flex-direction: row-reverse;
}

.board-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.player-tag{
    background: #007ce8;
    background: radial-gradient(circle, rgba(0, 124, 232, 0.75) 0%, rgba(46, 200, 217, 1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18vw;
    padding: 2%;
    border-radius: 35%;
    gap: 15px;
}

.player-tag > div:first-child > img{
    border-radius: 38%;
    width: 80px;
    height: 80px;
}

.player-tag > div:last-child > h3{
    font-size: 1.5rem;
    font-family: "Asimovian", sans-serif;
}

.player-tag > div:last-child  > p{
    font-size: 1.12rem;
}

.player-tag > div:last-child > p > span:first-child{
    font-weight: bold;
}

.player-tag > div:last-child > p > span:last-child{
    font-family: "Iceberg", sans-serif;
    font-size: 1.28rem;
    font-weight: bold;
    color:rgb(2, 35, 65)
}


.board{
    background: #048269;
    background: -webkit-linear-gradient(0deg, rgba(4, 130, 105, 1) 25%, rgba(0, 208, 212, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(4, 130, 105, 1) 25%, rgba(0, 208, 212, 1) 100%);
    background: linear-gradient(0deg, rgba(4, 130, 105, 1) 25%, rgba(0, 208, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#048269", endColorstr="#00D0D4", GradientType=0);
    display: grid;
    width: 525px;
    height: 525px;
    padding: 3.5%;
    border-radius: 7.5%;
    grid-template-columns: repeat(10, 1fr);

}

.cell{
    border: 1px solid #022921;
    background: #3ff8fb;
    background: radial-gradient(circle, rgba(63, 248, 251, 0.62) 0%, rgba(70, 158, 252, 0.88) 100%);
}

.cell.ship {
    background-color: #a9a9a9; /* DarkGray */
}

.cell.miss {
    background-color: #808080; /* Gray */
}

.cell.hit {
    background-color: #ff0000; /* Red */
}

.game-turn{
    background: #007ce8;
    background: radial-gradient(circle, rgba(0, 124, 232, 0.75) 0%, rgba(46, 200, 217, 1) 100%);
    padding: 2%;
    border-radius: 32%;
    width: 7.5vw;
    text-align: center;
}

.game-turn button{
    background-color: #048269;
    border: none;
    border-radius: 12%;
    padding: 8%;
    cursor: pointer;
    margin-bottom: 5px;
    transform: all 0.3s ease;
}

.game-turn button:hover{
    background-color: #0d9799;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.02);
}

.game-turn button:active{
    transform: scale(0.98);
    background-color: #36c7e0;
}

.game-turn h3{
    font-family: "Asimovian", sans-serif;
    font-size: 1.35rem;
}

.hidden {
    display: none;
}

.pass-device {
    width: 25vw;
    display: flex;
    flex-direction: column-reverse;
    transition: width 0.5s ease;
    align-items: center;
    justify-content: center;
}

.pass-device > button{
    width: 8vw;
}

@media(max-width: 1288px) {
    main{
        flex-direction: column;
    }

    main.placement-p2 {
        flex-direction: column-reverse;
    }

    .board-container{
        flex-direction: row;
        gap: 8vw;
    }

    .game-turn{
        width: 12vw;
    }

    .player-tag{
        width: 25vw;
    }
}

@media(max-width: 948px){
    .player-tag{
        width: 28vw;
    }

    .player-tag > div:last-child > h3{
        font-size: 1.28rem;
    }

    .player-tag > div:last-child  > p{
        font-size: 1.05rem;
    }

    .player-tag > div:last-child > p > span:last-child{
        font-size: 1.12rem;
    }

    .board-container{
        gap: 3.8vw;
    }

    .player-tag > div:first-child > img{
        width: 65px;
        height: 65px;
    }

    .game-turn{
        width: 15vw;
    }

    .pass-device{
        width: 35vw;
    }

    .pass-device > button{
        width: 10vw;
    }

    .game-turn h3{
        font-size: 1.2rem;
    }

}

@media(max-width: 800px) {
    .board{
        width: 450px;
        height: 450px;
    }
}

@media(max-width: 695px) {
    .board-container{
        flex-direction: column;
        gap: 20px;
    }
}